{% for post in currentCollection | reverse %}
  <article>
    <a href="{{ post.url | url }}" class="post">
      {{ post.data.title }}
      <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
    </a>
  </article>
{% endfor %}
