<div class = "post-container">
{% for post in currentCollection | reverse %}
  <article >
    <a href="{{ post.url | url }}" class="post">
      {{ post.data.title }}
    </a>
  </article>
{% endfor %}
</div>

{# <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time> #}
