---
eleventyExcludeFromCollections: true
layout: default-layout.njk
pagination:
  data: collections.all
  size: 1000
  alias: posts
---

{% include "tags-list.njk" %}
{% for post in posts | reverse %}
  <article>
    <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time> <a href="{{ post.url | url }}"> {{ post.data.title }}</a> 
    {% for tag in post.data.tags %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">#{{ tag }}</a>
    {% endfor %}
  </article>
{% endfor %}

<!-- <nav>
{% if pagination.href.previous %}
    <span style="float:left;"><a href="{{ pagination.href.previous }}">previous</a></span>
{% endif %}

{% if pagination.href.next %}
    <span style="float:right;"><a href="{{ pagination.href.next }}"> next</a><span>
{% endif %}
</nav> -->