<div style="max-width: 640px; height: 360px;" class="corner-wrapper">
    <script src="https://unpkg.com/shader-doodle@alpha"></script>
    <shader-doodle shadertoy="shadertoy">
        <script type="x-shader/x-fragment">
            void mainImage(out vec4 fragColor, in vec2 fragCoord) {
                // Normalized pixel coordinates (from 0 to 1)
                vec2 uv = fragCoord / iResolution.xy;

                // Time varying pixel color
                vec3 col = 0.5 + 0.5 * cos(iTime + uv.xyx + vec3(0, 2, 4));

                // Output to screen
                fragColor = vec4(col, 1.0);
            }
        </script>
    </shader-doodle>
</div>