<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/prism-nord.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js"></script>
    </head>
    <body>
        <nav>
            <a href="/">
                <img src="/assets/images/carl-vitasa-profile.webp" alt="profile" class="profile">
            </a>
            <div class="navbar">
                <a class="nav-link" href="/lists">Lists</a>
                <a class="nav-link" href="/articles">Articles</a>
                <a class="nav-link" href="/sketches">Sketches</a>
            </div>
        </nav>
        <h1 style="margin-bottom: 0em;">{{ title }}</h1>
        {{content | safe}}</body>
</html>
<html></html>
