@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  --bg-color: #F6F7F8;
  --primary-color: #2E3440;
  --accent-color: #467BB5;
  --ternary-color: #ebebeb;
  --misc-color: #aaaaaa;
  --radius: 0.5em;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0);

  --primary-font: 'Noto Sans', Arial, sans-serif;
  --accent-font: 'Baloo 2', sans-serif;
  --secondary-font: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

html {
  margin: 1rem auto;
  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
  max-width: 900px;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px !important;
  }

  code {
    font-size: 14px !important;
  }

  ul ul::before {
    left: -15px !important;
  }
}

code {
  font-family: var(--secondary-font);
  font-size: 16px;
  color: #f8f8f2;
  background-color: var(--primary-color);
  padding: 2px 6px;
  border-radius: 0.3em;
  width: 600px;
  overflow-x: scroll;
}

.corner-wrapper {
  overflow: hidden;
  margin: 1em auto;
  border-radius: var(--radius);
  transform: translateZ(0px);
  box-shadow: var(--shadow);
  max-width: 640px;
  height: 360px;
}

body {
  font-size: 18px;
  font-family: var(--primary-font);
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
  background-color: var(--bg-color);
}


h1 {
  font-family: var(--accent-font);
  font-size: 2.5em;
  color: var(--primary-color);
  text-align: center;
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
}

h2, h3, h4, h5, h6 {
  font-family: var(--accent-font);
  color: var(--primary-color);
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
}

hr {
  border: 0;
  height: 0;
  margin: 1em 0;
  border-top: 2px solid var(--primary-color);
  opacity: 0.2;
}

table {
  border-collapse: collapse;
  margin: 2em auto;
  box-shadow: var(--shadow);
  overflow: hidden;
  border-radius: var(--radius);
  transform: translateZ(0px);
}

th {
  padding: 0.75em;
  color: var(--bg-color);
  background-color: var(--primary-color);
}

td {
  padding: 0.75em;
}

tr:nth-child(odd) {
  background-color: var(--ternary-color);
}

/* Links */

a:link:not(.nav-link) {
  color: var(--accent-color);
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.35s;
  text-decoration: none;
}

a:visited {
  color: var(--accent-color);
  text-decoration: none;
}

a:link:hover {
  border-bottom-color: var(--accent-color);
}

/* Images ----------------------------------------------------------- */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

/* Block Quote ----------------------------------------------------------- */
blockquote {
  margin: 1.6em 0 1.6em 0;
  padding: 0 0 0 1.6em;
  border-left: var(--accent-color) 0.4em solid;
  color: var(--primary-color);
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0 0;
  font-size: 0.9em;
  font-style: normal;
}

blockquote small:before {
  content: "\2014 \00A0";
}

/* Navbar ----------------------------------------------------------- */

.navbar {
  font-size: 16px;
  text-align: center;
}

.nav-link {
  font-family: var(--accent-font);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
  color: var(--accent-color);
  background: linear-gradient(to bottom, var(--accent-color) 0%, var(--accent-color) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  text-decoration: none;
}

.nav-link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23467BB5' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

/* Misc ----------------------------------------------------------- */
::selection {
  color: white;
  background-color: var(--accent-color);
}

/* Custom Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 14px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}

/* Profile image */

.profile {
  width: 128px;
  box-shadow: none !important;
}

.profile:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


/* highlight */

mark {
  margin: 0 -0.4em;
  padding: 0em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

/* Lists */

ul {
  position: relative;
  list-style-type: '●  ';
}

ul ul::before {
  content: '';
  border-left: 3px solid var(--primary-color);
  opacity: 0.1;
  position: absolute;
  left: -17px;
  top: -3px;
  bottom: -3px;
}

/* posts */

.post-container {
  margin-top: 18px;
}

.post {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background-color: rgba(179, 179, 179, 0.1);
  border-radius: var(--radius);
  padding: 4px 8px;
  margin-bottom: 10px;
}

time {
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  border-radius: var(--radius);
  padding: 2px 6px;
}
