@import url("https://fonts.googleapis.com/css?family=Philosopher:400,400Italic,700|Roboto:400, 700");
:root {
  --bg-color: f4f4f4;
  --primary-color: #2E3440;
  --secondary-color:  #81A1C1;
  --ternary-color: #A3BE8C;
  --misc-color: #aaaaaa;
  --radius: 0.5em;
}
::selection {
  color: white;
  background-color: var(--primary-color);
}

html {
  margin: 1rem auto;
  font-size: 18px;
  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
  max-width: 900px;
  overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
} 

.p5js-container {
  text-align: center;
}

.shadertoy-container {
  pointer-events: none;
  text-align: center;
}

iframe {
  border: none;
  border-radius: var(--radius);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

body {
  font-family: Roboto;
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--primary-color);
  margin: 0;
  background-color: var(--bg-color);
}

h1 {
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
font-family: Philosopher;
color: var(--secondary-color);
}

code {
  font-family: Consolas,"courier new";
  font-size: 16px;
  color: #f8f8f2;
  background-color: var(--primary-color);
  padding: 1px 6px;
  border-radius: var(--radius);
  width:600px; 
    overflow-x:scroll; 
}

dl{
  font-weight: bold;
}

dd{
  font-weight: normal;
}

a:link {
  color: var(--secondary-color);
  text-decoration: none;
}

a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* TODO: scale image down only based on width of screen */
img{
  /* width: 100%;
  height: auto; */
  max-width:900px;
  object-fit: contain;
  /* margin: 1rem auto;
  box-sizing: content-box;
  padding: 0 1rem 0 1rem;  */
}

blockquote {
  margin: 1.6em 0 1.6em 0;
  padding: 0 0 0 1.6em;
  border-left: var(--secondary-color) 0.4em solid;
  font-style: italic;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0 0;
  font-size: 0.9em;
  color: var(--misc-color);
  font-style: normal;
}

blockquote small:before {
  content: "\2014 \00A0";
}

.navbar {
  font-size: 16px;
  text-align: center;
}
  
.nav-link {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 0px;
  margin: 10px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}
  
.nav-link:hover {
  opacity: 1;
  text-decoration: none;
}
  
.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 1px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}
