@import url("https://fonts.googleapis.com/css?family=Philosopher:400,400Italic,700|Roboto:400, 700|");
:root {
  --bg-color: #ffffff;
  --primary-color: #2E3440;
  /* --secondary-color:  #81A1C1;
  --ternary-color: #A3BE8C; */
  --secondary-color:  #2E3440;
  --ternary-color: #2E3440;
  --misc-color: #aaaaaa;
  --radius: 0.5em;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0);

  --primary-font: Roboto, Arial, sans-serif;
  --secondary-font: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

html {
  margin: 1rem auto;
  font-size: 18px;
  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
  max-width: 900px;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
}

.corner-wrapper {
  /* pointer-events: none; */
  text-align: center;
  display: block;
  overflow: hidden;
  margin: 1em auto;
  border-radius: var(--radius);
  transform: translateZ(0px);
  box-shadow: var(--shadow);
}

shader-doodle {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--primary-color);
  margin: 0;
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* remove linebreaks due to broken syntax highlighting for nunjucks */
span + br{content:' ';}

code {
  font-family: var(--secondary-font);
  font-size: 16px;
  color: #f8f8f2;
  background-color: var(--primary-color);
  padding: 2px 6px;
  border-radius: 0.3em;
  width:600px; 
  overflow-x:scroll; 
}

hr {
  border: 0;
  height: 0;
  margin: 1em 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}


table {
  border-collapse: collapse;
  margin: 1em auto;
  box-shadow: var(--shadow);
  overflow: hidden;
  border-radius: var(--radius);
  transform: translateZ(0px);
}

th {
  padding: 0.75em;
  color: var(--bg-color);
  background-color: var(--secondary-color);
}
td {
  padding: 0.75em;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Links */
a:link {
  color: var(--secondary-color);
  text-decoration: none;
}

a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Images ----------------------------------------------------------- */
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

/* Block Quote ----------------------------------------------------------- */
blockquote {
  margin: 1.6em 0 1.6em 0;
  padding: 0 0 0 1.6em;
  border-left: var(--secondary-color) 0.4em solid;
  color: var(--secondary-color);
  font-style: italic;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0 0;
  font-size: 0.9em;
  font-style: normal;
}

blockquote small:before {
  content: "\2014 \00A0";
}

/* Navbar ----------------------------------------------------------- */
.logo {
  float: left;
  text-align: left;
  margin-left: 1em;
  padding: 1em;
}

.navbar {
  font-size: 16px;
  text-align: right;
}
  
.nav-link {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 0px;
  margin: 10px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}
  
.nav-link:hover {
  opacity: 1;
  text-decoration: none;
}
  
.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 1px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

/* Misc ----------------------------------------------------------- */
::selection {
  color: white;
  background-color: var(--primary-color);
}

/* Custom Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 14px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #B4D4F4; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #81A1C1;
}

time {
  font-size: 0.8em;
  font-family: var(--secondary-font);
  color: var(--bg-color);
  background: var(--secondary-color);
  border-radius: var(--radius);
  padding: 2px 6px;
}

a[href].tag,
.tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--ternary-color);
}