---
eleventyExcludeFromCollections: true
layout: layouts/default-layout.njk
---

{% markdown %}
# Articles
{% endmarkdown %}

{% set currentCollection = collections.post %}
{% include "tags-list.njk" %}
