<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="/assets/prism-nord.css">
    </head>

    <body>
        <nav>
            <a href="/"> 
                <img src="/assets/images/carl-vitasa-profile.png" alt="profile" class="profile">
            </a>
            <div class="navbar">
                <a class="nav-link" href="/">Sketches</a>
                <a class="nav-link"  href="/about">About</a>
                <a class="nav-link" href="/articles">Articles</a>
            </div>
        </nav>
        {{content | safe}}
    </body>
    <html>
